<header class="app-header border-bottom bg-body-tertiary">
  <nav class="navbar navbar-expand-lg container">
    <a class="navbar-brand fw-semibold" href="/" data-nav>Nexus Game</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNav"
      aria-controls="mainNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/" data-nav>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login" data-nav>Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard" data-nav>Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/games/demo/" data-nav>Demo Game</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
